//variables

$color-body-background: rgb(236, 242, 255);
$color-card-gradient-1: hsl(252, 100%, 67%);
$color-card-gradient-2: hsl(241, 81%, 54%);
$color-circle-gradient-1: hsla(256, 72%, 46%, 1);
$color-circle-gradient-2: hsla(241, 72%, 46%, 0);

$font-main: "Hanken Grotesk", sans-serif;